<div>
  <form #f="ngForm">
    <div>
      <label>CPF:</label>
      <input type="text" name="cpf" [(ngModel)]="cpf" [cpf]="cpf" #cpfInput="ngModel" required />
    </div>

    <div>
      <label>CNPJ:</label>
      <input type="text" name="cnpj" id="cnpj" [(ngModel)]="cnpj" [cnpj]="cnpj" #cnpjInput="ngModel" />
    </div>

    <div>
      <label>Errors:</label>
      <div>
        <div *ngIf="cpfInput?.errors?.cpf">CPF Invalid</div>
        <div *ngIf="cpfInput?.errors?.required">CPF Required</div>

        <div *ngIf="cnpjInput?.errors?.cnpj">CNPJ invalid</div>
      </div>
    </div>

    <button [disabled]="f.invalid">Submit</button>
  </form>
</div>